@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--color-gray-700);
}

/*==================================================NAVBAR==========================================*/
.header {
  background-color: #0A1F32;
  color: #fff;
  padding: 5px 0;
}

.logo-and-nav {
  display: block;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-left: 10rem;
  padding: 0;;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-left: -9rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
  position: relative;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #0A1F32;
  border-radius: 4px;
  padding: 10px 0;
  left: 0; /* Ensure dropdown menu starts from the left edge of the dropdown item */
  top: calc(100% + 5px); /* Position the dropdown menu just below the dropdown item */
  min-width: 160px; /* Set a minimum width for the dropdown menu */
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Centering dropdown menu */
.dropdown-menu {
  transform: translateX(-50%);
  left: 50%; /* Position the dropdown menu at the center horizontally */
}

/* Optional: Hover effect on links */
.navbar li:hover a {
  background-color: #0A1F40;
  border-radius: 10px;
}

/* ==============================================HEADER================================== */
.home-contents {
  height: 390px;
  display: flex;
  flex-direction: row; /* Ensures contents are laid out horizontally */
  background-color: #0A1F32;
}

.sliding-text {
  flex: 1; /* Take up remaining space */
  padding: 20px;
  animation: slideIn 2s ease forwards; /* Animation for sliding in */
  color: #fff;
  margin-top: 4rem;
  margin-left: 10rem;
}

.sliding-text h1 {
  font-size: 35px;
}

.sliding-text p {
  font-size: 12px;
  font-weight: lighter;
}

.sliding-text h1,
.sliding-text p {
  width: 600px; /* Set width */
  height: 115px; /* Set height */
  overflow: hidden; /* Hide any content exceeding the specified dimensions */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.header-image {
  position: absolute;
  top: 0.7rem;
  right: 0.8rem; /* Position the image to the right */
  bottom: 0; /* Stretch the image to cover the entire height of home-contents */
  width: 400px; /* Fixed width */
  height: 450px; /* Occupy full height of home-contents */
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Optional: Adjust styling for button */
.con3-btn {
  margin-top: 2rem;
}

.btn-show__more {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.container2 {
  padding: 30px;
  text-align: center;
  font-size: 24px;
}

/* Media query for Android devices */
@media only screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar li a {
    padding: 10px;
  }

  .dropdown-menu {
    width: 100%;
    left: 0;
    transform: none;
  }

  .home-contents {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sliding-text {
    margin: 20px 0;
    width: 100%;
  }

  .sliding-text h1, .sliding-text p {
    width: auto;
    height: auto;
  }

  .header-image {
    position: static;
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .about-image {
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  .con3-content {
    margin: 0;
    width: 100%;
  }

  .container3 {
    flex-direction: column;
    align-items: center;
  }

  .con3-header, .con3-text {
    width: 90%;
    margin: 10px 0;
  }
}

/*=============================================HOME CON3=============================================*/
.home-container2 {
  text-align: center;
  padding: 25px;
  margin: 8px 0;
  background-color: #E9E9E9;
}

.container3 {
  background-color: #E9E9E9;
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.about-image {
  margin-top: 1.5rem;
  margin-right: 20px;
  margin-left: 12rem;
  width: 30%;
  height: 450px;
}

.con3-content {
  margin-right: 5rem;
  margin-left: 20px;
  width: 60%;
}

.con3-text {
  background-color: #cacacf;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.con3-header {
  background-color: #cacacf;
  margin-bottom: 5px;
  padding: 10px;
}

.con3-header h1 {
  text-align: center;
}

.con3-header p {
  font-size: 13px;
  font-weight: 400;
}

.con3-header h1, .con3-header p {
  margin: 0;
}

.con3-text h5 {
  margin-top: 0;
  font-size: 13px;
}

.con3-text p {
  font-size: 13px;
  font-weight: 400;
}

.icon-text {
  display: flex;
  align-items: center;
  height: 60px;
}

.icon {
  margin-right: 20px;
  margin-left: 10px;
  font-size: 35px;
}

.btn-primary {
  display: block;
  margin-top: 20px;
}

/*============================== NUMBERS SECTION =================================*/

.numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0A1F32; 
  margin-bottom: 1rem;
   padding: 0 10.8rem;
}

.numbers .number-item {
  text-align: center;
  flex: 1;
  margin: 3rem;;
}

.numbers h5 {
  font-size: 30px;
  margin-bottom: 5px;
  color: #fff;
}

.numbers p {
  font-size: 16px;
  color: #fff;
  margin-top: 0;
  white-space: pre-wrap;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .numbers {
    flex-direction: column;
  }

  .numbers .number-item {
    margin-bottom: 20px;
  }
}

/*============================== SECURITY SOLUTIONS SECTION =================================*/

.sec-solutions__section {
  text-align: center;
  padding: 2rem;
  background-color: #E9E9F3;
}

.sec-heading h4,
.sec-heading p {
  margin-bottom: 0.5rem;
}

.sec-heading h4{
  font-size: 28px;
}

.sec-heading p {
  font-size: 14px;
  margin: 0 6rem;
  margin-bottom: 2rem;
  
}

.sec-solutions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 6rem;
  gap: 1rem;
}

.solution-item {
  flex: 1 1 calc(33.333% - 2rem);
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background-color: #cacacf;
  margin: 0.5rem;
  height: 250px;
}

.solution-icon {
  font-size: 60px;
  margin-bottom: 2.5rem;
  background-color: white; 
  border-radius: 50%;
  padding: 12px;
  display: inline-block;
}

.solution-item h5 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.solution-item p {
  font-size: 14px;
  margin-top: 0;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .sec-solutions {
    flex-direction: column;
  }

  .solution-item {
    flex: 1 1 100%;
  }
}

/* ======================================================CHOOSE SECTION=======================================*/
.choose-section {
  margin: 0.5rem 0;
  background-color: #0A1F32;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.choose-left__contents {
  margin: 3rem 0;
  margin-left: 9rem;
  margin-right: 4rem;
  flex: 1;
}

.choose-sec__header {
  margin-top: 2rem;
 
}
.choose-sec__header h4{
  font-size: 30px;

}

.choose-sec__header p{
  font-size: 14px;
  margin: 2rem 0;

}

.choose-sec__content {
  display: flex;
  flex-direction: column;
}

.reasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 2rem;
}

.reason-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.choose-img img {
  width: 400px;
  height: 350px;
  margin-right: 6rem;
  margin-top: 6rem;
}

/* Media Queries for Android Devices */
@media only screen and (max-width: 600px) {
  .choose-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .choose-left__contents {
    margin: 2rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }

  .choose-sec__header h4 {
    font-size: 24px;
  }

  .choose-sec__header p {
    font-size: 12px;
    margin: 1rem 0;
  }

  .reasons {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .choose-img img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: 2rem;
  }

  .reason-item {
    justify-content: center;
  }
}


/* =========================================CUSTOMER FEEDBACK ====================================================*/

.customer-feedback {
  /* font-family: 'Noto Serif', serif; */
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #E9E9F9;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  
}

.section__container {
  margin: 0 8.5rem;
  padding: 1rem;
  text-align: center;
}

.feed-header {
  margin-bottom: 2rem;
  color: #000;
}

.feed-header p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
}

.feed-header h1 {
  font-size: 2rem;
  font-weight: 900;
}

.testimonials__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  color: #000;
  background-color: #cacacf;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card i {
  font-size: 2.5rem;
  color: gold;
}

.card p {
  font-size: 1rem;
  font-weight: 500;
}

.card hr {
  width: 40px;
  margin: auto;
  color: var(--text-light);
}

.card img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
}

.card .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.card .name:hover {
  color: var(--primary-color);
}


@media (width < 900px) {
  .testimonials__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (width < 600px) {
  .testimonials__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}









/* =========================================FOOTER ====================================================*/

.footer {
  background: #0A1F32;
  color: #fff;
  padding: 20px 20px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px; 
}

.footer .footer-col {
  flex: 1;
  max-width: 300px;
}

.footer .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer .links {
  list-style: none;
  padding: 0;
}

.footer .links li {
  margin-bottom: 10px;
}

.footer .links li a {
  text-decoration: none;
  color: #bfbfbf;
  transition: color 0.3s ease;
}

.footer .links li a:hover {
  color: #fff;
}

.footer p {
  color: #bfbfbf;
  max-width: 300px;
  margin-bottom: 20px; /* Increase space below paragraph */
}

.footer form {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.footer input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6;
  caret-color: #fff;
  color: #fff;
  padding: 0 10px; /* Adjust input padding */
}

.footer input::placeholder {
  color: #ccc;
}

.footer button {
  background: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.footer button:hover {
  background: #cecccc;
}

.footer .icons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.footer .icons i {
  color: #afb6c7;
  transition: color 0.3s ease;
}

.footer .icons i:hover {
  color: #fff;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.btn.primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.center {
  text-align: center;
  padding-top: 5rem;
  margin-inline: center;
  display: block;
  width: 100%;
}

.error-page h2 {
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 20px; /* Adjust padding for smaller screens */
  }

  .footer .footer-row {
    gap: 20px; /* Reduce gap between footer columns */
  }

  .footer .footer-col {
    max-width: 100%; /* Make footer columns full width on smaller screens */
    margin-bottom: 30px; /* Add space below each footer column */
  }

  .footer form :where(input, button) {
    width: 100%;
  }

  .footer button {
    margin-top: 10px; /* Adjust button margin for smaller screens */
  }
}

/* ====================================== MEDIA QUERIES FOR ANDROID DEVICES ======================================= */

@media only screen and (max-width: 480px) {
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar li a {
    padding: 10px;
  }

  .dropdown-menu {
    width: 100%;
    left: 0;
    transform: none;
  }

  .home-contents {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .sliding-text {
    margin: 20px 0;
    padding: 0 10px;
    width: 100%;
  }

  .sliding-text h1 {
    font-size: 24px;
  }

  .sliding-text p {
    font-size: 14px;
  }

  .header-image {
    position: static;
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .container2 {
    padding: 20px;
    font-size: 20px;
  }

  .about-image {
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  .con3-content {
    margin: 0;
    width: 100%;
    padding: 0 10px;
  }

  .container3 {
    flex-direction: column;
    align-items: center;
  }

  .con3-header,
  .con3-text {
    width: 100%;
    margin: 10px 0;
  }

  .con3-header p,
  .con3-text p,
  .con3-text h5 {
    font-size: 14px;
  }

  .icon-text {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .footer .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-col {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .footer form {
    flex-direction: column;
    align-items: center;
  }

  .footer form :where(input, button) {
    width: 100%;
  }
}


/* ====================================================ABOUT US ======================================*/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.about-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about-text {
  max-width: 800px;
}

.about-text h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
}

.about-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.about-item {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  max-width: 300px;
}

.about-icon {
  font-size: 2em;
  color: #0066cc;
  margin-right: 10px;
}

.about-item h5 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
}

.about-item p {
  font-size: 1em;
  color: #777;
}

.about-mission {
  text-align: center;
  margin: 40px 0;
}

.about-mission h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.about-mission p {
  font-size: 1.2em;
  color: #555;
  max-width: 800px;
  line-height: 1.6;
}

.about-team {
  text-align: center;
  margin: 40px 0;
}

.about-team h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  margin: 10px;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h5 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 1em;
  color: #777;
}

.about-testimonials {
  text-align: center;
  margin: 40px 0;
}

.about-testimonials h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial {
  text-align: center;
  margin: 10px;
  max-width: 300px;
}

.testimonial p {
  font-size: 1em;
  color: #555;
  line-height: 1.6;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
}

.customer-name {
  font-size: 1.1em;
  color: #333;
  margin-top: 10px;
}

.about-btn {
  margin-top: 20px;
}

.btn-show-more {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #0066cc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-show-more:hover {
  background-color: #004a99;
}

/* Media Queries */
@media (max-width: 768px) {
  .about-details, .team-members, .testimonials {
    flex-direction: column;
    align-items: center;
  }

  .about-item, .team-member, .testimonial {
    max-width: 100%;
  }

  .about-image {
    max-width: 100%;
  }

  .about-mission p, .about-text p {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .about-text h1 {
    font-size: 2em;
  }

  .about-text p, .about-mission p, .testimonial p {
    font-size: 1em;
  }

  .about-icon {
    font-size: 1.5em;
  }

  .about-item h5, .team-member h5, .customer-name {
    font-size: 1em;
  }

  .btn-show-more {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}


/* ==============================================SERVICES =============================================================*/
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f5f5f5;
}

.services-header {
  text-align: center;
  margin-bottom: 40px;
}

.services-header h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.services-header p {
  font-size: 1.2em;
  color: #555;
  max-width: 800px;
  line-height: 1.6;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.service-icon {
  font-size: 3em;
  color: #0066cc;
  margin-bottom: 20px;
}

.service-item h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1em;
  color: #777;
  line-height: 1.6;
}

.benefits-section {
  margin: 40px 0;
  text-align: center;
}

.benefits-section h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefit-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.benefit-icon {
  font-size: 3em;
  color: #0066cc;
  margin-bottom: 20px;
}

.benefit-item h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.benefit-item p {
  font-size: 1em;
  color: #777;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .services-list, .benefits-list, .team-list {
    flex-direction: column;
    align-items: center;
  }

  .service-item, .benefit-item, .team-item {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .services-header h1 {
    font-size: 2em;
  }

  .services-header p {
    font-size: 1em;
  }

  .service-icon, .benefit-icon {
    font-size: 2.5em;
  }

  .service-item h3, .benefit-item h3, .team-item h3 {
    font-size: 1.2em;
  }

  .service-item p, .benefit-item p, .team-item p {
    font-size: 0.9em;
  }
}

/* ================================================CAREERS========================================== */
.careers-container {
  padding: 40px;
}

.careers-container h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

.careers-container p {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 40px;
}

.job-listings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job-item {
  background-color: #cacacf;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.job-item h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.job-item p {
  font-size: 1em;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

.job-item button {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.job-item button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .careers-container {
    padding: 20px;
  }

  .careers-container h1 {
    font-size: 2em;
  }

  .careers-container p {
    font-size: 1em;
  }

  .job-listings {
    gap: 10px;
  }

  .job-item {
    padding: 15px;
  }

  .job-item h2 {
    font-size: 1.3em;
  }

  .job-item p {
    font-size: 0.9em;
  }

  .job-item button {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

/* ===============================================CONTACT US========================================= */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.contact-info {
  text-align: center;
  margin-bottom: 40px;
}

.contact-info h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #333;
}

.contact-item .contact-icon {
  margin-right: 10px;
}

.contact-form {
  text-align: center;
}

.contact-form h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }

  .contact-info h1 {
    font-size: 2em;
  }

  .contact-info .contact-details {
    flex-direction: column;
    gap: 20px;
  }

  .contact-item p {
    font-size: 1em;
  }

  .contact-form h2 {
    font-size: 1.8em;
  }

  .contact-form input,
  .contact-form textarea {
    width: 80%;
  }
}
