/* External CSS for Tailwind Limitation */
.progres-wrap {
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .image-list {
    margin-left: 30px;
    margin-right: 20px;
  }
  
  .quote-feature-wrap {
    max-width: 323px;
    background-color: #086ad8;
    padding: 26px 45px 24px;
    position: absolute;
    left: 50px;
    bottom: 50px;
  }
  
  .quote-feature-wrap .counter .number-style {
    font-size: 65px;
    font-weight: 600;
    line-height: 67px;
    color: #ffffff;
    position: relative;
  }
  
  .quote-feature-wrap .counter .number-style::after {
    content: '+';
    position: absolute;
  }
  
  .quote-feature-wrap .review {
    margin-top: 20px;
  }
  
  .quote-feature-wrap .review i {
    margin-right: 3px;
  }
  
  .quote-feature-wrap .review span {
    margin-left: 10px;
  }
  
  .quote-feature-wrap .start {
    background-color: #ffffff;
    padding: 12px 26px 0 13px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .quote-feature-wrap .start span {
    font-size: 22px;
    font-weight: 600;
    color: #086ad8;
    position: relative;
  }
  
  .quote-feature-wrap .start span::after {
    content: '\e94b';
    font-family: "icomoon";
    font-size: 12px;
    position: absolute;
    right: -15px;
    top: -10px;
  }
  


  /* feature home 3 */

  .accordion-button {
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding: 10px 20px;
  }
  
  .accordion-button.collapsed {
    background-color: #f6f6f6;
  }
  
  .feature-home3 .feature-h3-image {
    position: relative;
    margin-left: 80px;
  }
  
  .progress-box2 .progress-skill i {
    font-size: 25px;
    color: #fff;
  }
  
  .counting-feature {
    padding: 40px;
    display: inline-block;
    position: absolute;
    left: -18.2%;
    bottom: 4.8%;
  }
  
  .progress-box2:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
  }

  
  .why-chose-us .image-wc-us img {
    width: auto;
    position: relative;
    z-index: 2;
}

.wcus-1 {
    margin-top: 56px;
    margin-left: 14px;
}

.wcus-2 {
    position: absolute;
    left: -62px;
    top: 2px;
    animation: cir36 30s linear infinite;
}

.wcus-3 {
    position: absolute;
    right: 26%;
    top: 42px;
    animation: dot-anim-4 3s linear 0s infinite alternate;
}

.wcus-4 {
    position: absolute;
    left: -75px;
    top: 46%;
    animation: dot-anim-3 3s linear 0s infinite alternate;
}

.wcus-5 {
    position: absolute;
    left: -20%;
    top: 8%;
    animation: dot-anim-2 3s linear 0s infinite alternate;
}

.icon-box-wcus {
    padding: 0;
    background-color: transparent;
}

.icon-box-wcus:hover .title a {
    color: #222222;
}

.icon-box-wcus:hover .title,
.icon-box-wcus:hover .des {
    color: unset;
}

.icon-box-wcus .icon {
    font-size: 50px;
    color: #086AD8;
    margin-bottom: 23px;
}

.icon-box-wcus .title {
    margin-bottom: 13px;
}

.progress-wcus {
    margin-right: 3em;
}

.progress-skill {
    margin-bottom: 14px;
}

.progress-skill canvas {
    width: 120px;
    height: 120px;
}

.percent2 {
    font-size: 30px;
}

.image-wrapper-wcus3 .image-wcus3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wcus-pt {
    margin-top: 93px;
}

.quote-wcus-3 .icon {
    font-size: 50px;
    color: #FFFFFF;
    margin-right: 25px;
    margin-top: 7px;
}

.quote-wcus-3 .content .title {
    color: #FFFFFF;
    margin-bottom: 7px;
}

.quote-wcus-3 .content p {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.wcus-section4 .wcus-section4-content {
    margin-top: 7px;
    margin-right: 10px;
}

.wcus-section4-image img {
    z-index: 2;
    position: relative;
}

.wcus-h41 {
    margin-bottom: 7px;
}

.wcus-h42 {
    position: absolute;
    max-width: 355px;
    border-radius: 20px;
    width: 100%;
    left: 142px;
    bottom: 39px;
}

.clip {
    width: 300px;
    height: 300px;
    border: 1px solid #002FF5;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    bottom: -73px;
    right: -98px;
}



.service-cta {
    background-color:  #FFFFFF;
    padding: 15px 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 60px 0px rgba(203, 203, 203, 0.25);
    display: inline-flex;
}

.cta-service {
    background-image: url(./assets/images/page/cta-service.png);
}

.cta-service .image-cta-service img {
    padding-left: 110px;
}

.cta-service .image-cta-service .quote-feature-wrap {
    margin-top: -11em;
    z-index: 1;
    position: relative;
}

.cta-service .heading-title {
    margin-right: 3em;
}

.cta-service .heading-title .button-src {
    background-color: #D2A98E;
}

.cta-service .heading-title .button-src:hover {
    background-color: #086AD8;
}

